@model List<Dictionary.EntityLayer.Concrete.Writer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- #region Table list -->
@*<div class="container-fluid">
        <div class="card-header">
            <h3 class="card-title">
                <b>Writer List</b>
            </h3>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-decoration-none">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>E-Mail</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>Image Url</th>
                        <th>PUblished Date</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Headers</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-danger">@item.WriterId</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.Password</td>
                            <td>@item.Status</td>
                            <td>@item.Image</td>
                            <td>@item.Date</td>
                            <td>
                                <a href="/WriterAdmin/UpdateWriter/@item.WriterId" class="btn btn-outline-primary sm">Update</a>
                            </td>
                            <td>
                                <a href="/WriterAdmin/DeleteWriter/@item.WriterId" class="btn btn-outline-danger sm">Delete</a>
                            </td>
                            <td>
                                <a href="/WriterAdmin//@item.WriterId" class="btn btn-outline-info sm">Headers</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="margin-top:1rem; margin-bottom:1rem">
                <a href="/WriterAdmin/CreateCategory/" class="btn btn-outline-primary col-md-12">Create New Writer</a>
            </div>
        </div>
    </div>*@


<!-- #endregion -->
<html lang="en">
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-header text-muted border-bottom-0">
                                    Digital Strategist
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead">
                                                <b>@item.FirstName @item.LastName</b>
                                            </h2>
                                            <p class="text-muted text-sm">
                                                <b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover
                                            </p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small">
                                                    <span class="fa-li"><i class="fas fa-lg fa-charging-station"></i></span> Status: @item.Status
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li"><i class="fas fa-lg fa-mail-bulk"></i></span> E-mail: @item.Email
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="@item.Image" alt="user-avatar" class="img-circle img-fluid">

                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="#" class="btn btn-sm bg-teal">
                                            <i class="fas fa-pencil-ruler"></i> View Articles
                                        </a>
                                        <a href="#" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> View Profile
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</body>
</html>