@model Dictionary.EntityLayer.Concrete.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card-header">
        <h3 class="card-title">
            <b>Update Category</b>
        </h3>
    </div>
    <div class="card-body">
        <form role="form" method="post" action="/CategoryAdmin/UpdateCategory/">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="hidden" class="form-control" placeholder="category id" name="CategoryId" asp-for="CategoryId" value="@Model.CategoryId">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="category name" name="Name" asp-for="Name" value="@Model.Name">
                        @Html.ValidationMessage("Name", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Status</label>
                        <input type="text" class="form-control" placeholder="status" name="Status" value="@Model.Status">
                        @Html.ValidationMessage("Status", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Description</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "ckeditor", placeholder = "Content" })
                        @Html.ValidationMessage("Description", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <button style="margin-top:0rem" type="submit" class="btn btn-outline-success col-md-12">Create New Category</button>
        </form>
    </div>
</div>