@model Dictionary.EntityLayer.Concrete.Contact
@{
    ViewBag.Title = "ReadMail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card-header">
        <h3 class="card-title">
            <b>Read Mail List</b>
        </h3>
    </div>
    <div class="card-body p-0">
        <div class="row">
            <div class="col-md-3">
                <a href="/MessageAdmin/Index/" class="btn btn-primary btn-block mb-3">Back to Inbox</a>
                @Html.Action("Folderspartial", "ContactAdmin")
            </div>           
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Read Mail</h3>

                        <div class="card-tools">
                            <a href="/ContactAdmin/Index/" class="btn btn-tool" title="Previous"><i class="fas fa-chevron-left"></i></a>
                            <a href="/ContactAdmin/Index/" class="btn btn-tool" title="Next"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>                    
                    <div class="card-body p-0">                       
                            <div class="mailbox-read-info">                              
                                <h5><b>@Model.Subject</b></h5>
                                <h6>
                                    From: <a href="mailto:@Model.Email" target="_blank" style="color:orangered">@Model.FirstName @Model.LastName</a>

                                    <span class="mailbox-read-time float-right">15 Feb. 2015 11:03 PM</span>
                                </h6>
                            </div>                        
                        <div class="mailbox-controls with-border text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" data-container="body" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" data-container="body" title="Reply">
                                    <i class="fas fa-reply"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" data-container="body" title="Forward">
                                    <i class="fas fa-share"></i>
                                </button>
                            </div>                            
                            <button type="button" class="btn btn-default btn-sm" title="Print">
                                <i class="fas fa-print"></i>
                            </button>
                        </div>                       
                        <div class="mailbox-read-message">
                            <p>@Model.Message</p>
                        </div>                      
                    </div>                  
                    <div class="card-footer bg-white">
                        <ul class="mailbox-attachments d-flex align-items-stretch clearfix">
                            <li>
                                <span class="mailbox-attachment-icon"><i class="far fa-file-pdf"></i></span>

                                <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> Sep2014-report.pdf</a>
                                    <span class="mailbox-attachment-size clearfix mt-1">
                                        <span>1,245 KB</span>
                                        <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <span class="mailbox-attachment-icon"><i class="far fa-file-word"></i></span>

                                <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> App Description.docx</a>
                                    <span class="mailbox-attachment-size clearfix mt-1">
                                        <span>1,245 KB</span>
                                        <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <span class="mailbox-attachment-icon has-img"><img src="~/Template/AdminLTE-3.2.0/dist/img/photo1.png" alt="Attachment"></span>

                                <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fas fa-camera"></i> photo1.png</a>
                                    <span class="mailbox-attachment-size clearfix mt-1">
                                        <span>2.67 MB</span>
                                        <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <span class="mailbox-attachment-icon has-img"><img src="~/Template/AdminLTE-3.2.0/dist/img/photo2.png" alt="Attachment"></span>

                                <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fas fa-camera"></i> photo2.png</a>
                                    <span class="mailbox-attachment-size clearfix mt-1">
                                        <span>1.9 MB</span>
                                        <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>                    
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Reply</button>
                            <button type="button" class="btn btn-default"><i class="fas fa-share"></i> Forward</button>
                        </div>
                        <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Delete</button>
                        <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Print</button>
                    </div>                   
                </div>               
            </div>           
        </div>
        <div style="margin-top:1rem; margin-bottom:1rem">
            <a href="/MessageAdmin/CreateMessage/" class="btn btn-outline-primary col-md-12">Create New Message</a>
        </div>
    </div>
</div>